<header class="h2d-header">
  <div class="h2d-header-left">
    <h1>The blog</h1>
  </div>

  <div class="h2d-header-right">
    <nav>
      <a *ngIf="authService.isLoggedIn" routerLink="/new" class="h2d-menu-item" routerLinkActive="h2d-menu-active">New</a>
      <a routerLink="/blog" class="h2d-menu-item" routerLinkActive="h2d-menu-active">Blog</a>
      <a routerLink="/about" class="h2d-menu-item" routerLinkActive="h2d-menu-active">About</a>
    </nav>
  </div>
</header>

<div class="h2d-content">
  <router-outlet></router-outlet>
</div>