$header-heigh: 70px;
$global-side-padding: 50px;
$global-side-width: 80%;

.h2d-header {
  background: #8bffdf;
  box-sizing: border-box;
  clear: both;
  height: $header-heigh;
  line-height: $header-heigh;
  padding: 0 $global-side-padding;
  position: fixed;
  width: 100%;
}

.h2d-header-left {
  float: left;
  font-family: 'Roboto Mono',arial,monospace;
}

.h2d-header-right {
  float: right;
  font-family: 300 16px/$header-heigh Roboto,arial,sans-serif;
}

.h2d-content {
  margin: 0 auto;
  padding: $header-heigh $global-side-padding 0;
  width: $global-side-width;
}

.h2d-menu-active {
  color: red;
}