$header-heigh: 70px;
$global-side-padding: 5%;
$global-width: 100%;

.h2d-header {
  background: #8bffdf;
  box-sizing: border-box;
  clear: both;
  height: $header-heigh;
  line-height: $header-heigh;
  padding: 0 $global-side-padding;
  position: fixed;
  width: 100%;
}

.h2d-header-left {
  float: left;
  font-family: 'Roboto Mono',arial,monospace;
}

.h2d-header-right {
  float: right;
  font-family: 300 16px/$header-heigh Roboto,arial,sans-serif;
}

.h2d-content {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: $header-heigh;
  width: $global-width;
}

.h2d-menu-active {
  color: red;
}

.h2d-blog {
  display: flex;
  flex-flow: row wrap; /* flex-direction: row; flex-wrap: wrap; */
}
