@import "../vars";

.h2d-header {
  background: $menu-bg-color;
  box-shadow: 0px 6px 22px 0px #9d9da5;
  box-sizing: border-box;
  clear: both;
  height: $header-heigh;
  line-height: $header-heigh;
  padding: 0 $global-side-padding;
  position: fixed;
  width: 100%;
}

.h2d-header-left {
  color: $menu-text-color;
  float: left;
  font-family: 'Roboto Mono',arial,monospace;
}

.h2d-header-right {
  float: right;
  font-family: 300 16px/$header-heigh Roboto,arial,sans-serif;
}

.h2d-content {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: $header-heigh;
  width: $global-width;
}

.h2d-menu-item {
  border-bottom: 3px solid $menu-bg-color;
  color: $menu-text-color;
  display: inline-block;
  font-weight: bold;
  height: $header-heigh - 3px;
  line-height: $header-heigh - 3px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}

.h2d-menu-item:hover {
  border-bottom-color: #000;
  color: #000;
}

.h2d-menu-active {
  border-bottom-color: $menu-text-color;
}