:host {
  margin: 0 auto;
  padding: 50px 0;
  width: 80%;
}

.h2d-record-comments-add-form {
  padding-top: 20px;

  textarea {
    height: 100px;
    width: 100%;
  }
}

.h2d-record-article {
  border-top: 1px solid #ccc;
  margin-top: 14px;
  padding-top: 60px;

  p {
    padding-bottom: 30px;
  }
}

.h2d-record-comments-content {
  margin: 0 auto;
  padding-top: 20px;
  width: 95%;

  p:first-child {
    color: #aaa;
    font-size: 10px;
    line-height: 10px;
  }
}

.h2d-record-comments {
  border-top: 1px solid #ccc;
  margin-top: 14px;
  padding-top: 10px;

  p:first-child {
    color: #aaa;
  }
}

.h2d-record-details-date-box {
  clear: both;
  color: #aaa;
  padding-bottom: 10px;
}

.h2d-record-details-date {
  float: left;
}

.h2d-record-details-buttons {
  float: right;
}

.h2d-record-title {
  font-size: 40px;
  padding-bottom: 20px;
}