<div class="h2d-record-title">{{(selectedRecord | async)?.title}}</div>
<!--<div>{{(selectedRecord | async)?.date}}</div>-->
<div class="h2d-record-details-date">10/12/2016</div>
<div class="h2d-record-article" #article></div>

<div class="h2d-record-comments">
  <p>Comments:</p>
  <div *ngFor="let comment of comments | async" class="h2d-record-comments-content">
    <p>10/12/2016</p>
    <p>{{comment.content}}</p>
  </div>
</div>

<div class="h2d-record-comments-add-form">
  <textarea name="newCommentText" [(ngModel)]="newCommentText"></textarea>
  <div>
    <button (click)="addComment()">Add comment</button>
  </div>
</div>