:host {
  padding: 5%;
  flex-basis: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

@media all and (min-width: 1000px) {
  :host {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.h2d-record-date {
  color: #aaa;
  padding-bottom: 10px;
}

.h2d-record-title {
  padding-bottom: 40px;
}

.h2d-record-content {
  padding-bottom: 40px;
}

.h2d-record-footer {
}

.h2d-button {
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.8);
  border: 0;
  color: #fff;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 40px;
  line-height: 50px;
  height: 50px;
  font-size: 18px;
}